PORT=3001
apiKey=firebase api key
authDomain=firebase auth domain
databaseURL=firebase databaseURL
projectId=firebase project Id
storageBucket=firebase storage bucket
messagingSenderId=firebase messaging sender ID
appId=firebase app id
measurementId=firebase measurement id
BASE_URL=Base url
pubKey=Microsoft public key
secretKey=secret key